name: Publish
on:
  push:
    branches:
      - master
jobs:
  Publish:
    name: Publish
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true

      - run: yarn install --frozen-lockfile
      - run: yarn build
      - run: yarn test
      - run: npx beachball publish --branch master -n ${{ secrets.npmAuthToken }} -yes --bump-deps --access public
